/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/open-sans-v20-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v20-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v20-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v20-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class],
ul[role=list],
ol[role=list] {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  color: var(--clr-primary);
  background-color: var(--clr-base);
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary: #2c3842;
  --clr-secondary: hsl(256, 78%, 53%);
  --clr-accent: hsl(0, 100%, 93%);
  --clr-base: hsl(0, 0%, 100%);
  --clr-grey-400: hsl(0, 0%, 67%);
  --clr-grey-600: hsl(162, 4%, 53%);
  --ff-primary: "Open Sans", sans-serif;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2.125rem;
  --fs-800: 3rem;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --border-radius: 9px;
}

h1,
h2,
h3 {
  line-height: 1.05;
  max-width: 46ch;
}

h1,
h2 {
  font-weight: var(--fw-300);
  color: var(--fg, var(--clr-secondary));
}

h1 {
  font-size: var(--fs-800);
  letter-spacing: -1.5px;
}

h2 {
  font-size: var(--fs-700);
  letter-spacing: -0.5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sub-heading {
  font-size: var(--fs-600);
}

.question-title,
.subtitle {
  font-size: var(--fs-500);
  max-width: 46ch;
  margin-right: auto;
}

.subtitle {
  margin-left: auto;
}

.question-title {
  font-weight: var(--fw-700);
}

.title {
  font-size: var(--fs-400);
}

.anime {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 14rem));
  justify-content: center;
  gap: 2em;
}

.anime-card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.anime-card .rating {
  display: flex;
}
.anime-card .rating > * + * {
  margin-left: 0.25em;
}

.btn {
  display: inline-block;
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  letter-spacing: 1.25px;
  padding: 0.81em 1.56em;
  text-decoration: none;
  border-radius: var(--border-radius);
  color: var(--bg, var(--clr-accent));
  background-color: var(--accent, var(--clr-secondary));
}

.companies {
  display: flex;
  justify-content: space-between;
  max-width: 25rem;
  margin-right: auto;
  margin-left: auto;
}

.questions > * + * {
  margin-top: 2rem;
}

.question .title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--clr-accent);
}
.question .hidden {
  display: none;
}

.plan-table {
  width: 100%;
  border-collapse: collapse;
  font-weight: var(--fw-600);
}
.plan-table .packages > * + * {
  padding-left: 0.5em;
}
.plan-table .benefit th {
  text-align: left;
}
.plan-table .benefit img {
  margin-left: auto;
  margin-right: auto;
}
.plan-table .benefit > th {
  width: 50%;
}
.plan-table .benefit > td {
  width: 16.7%;
}
.plan-table .benefit > * {
  padding: 1rem 0;
  border-bottom: 2px solid var(--clr-accent);
}

section {
  color: var(--fg, var(--clr-primary));
  background-color: var(--bg, var(--clr-base));
  padding-top: var(--padding, 2rem);
  padding-bottom: var(--padding, 2rem);
}

.hero .info {
  max-width: 46ch;
}

.container {
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width, 74.75rem);
}

.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}

.split {
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .split {
    flex-direction: row;
  }
}

.split > * {
  flex-basis: 100%;
}

.split > * + * {
  margin: var(--split-spacer, 2rem) 0 0 0;
}
@media (min-width: 50em) {
  .split > * + * {
    margin: 0 0 0 var(--split-spacer, 2rem);
  }
}

.spacer {
  margin-top: var(--spacer, 2rem);
}

.center {
  text-align: center;
}

.text-accent {
  color: var(--clr-accent);
}

.bg-dark {
  --fg: var(--clr-base);
  --bg: var(--clr-secondary);
  --accent: var(--clr-accent);
}

/*# sourceMappingURL=style.css.map */
