.container {
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width, 74.75rem);
}

.flow-content > * + * {
    margin-top: var(--flow-space, 1rem);
}

.split {
    display: flex;
    flex-direction: column;

    @media(min-width: 50em) {
        flex-direction: row;
    }
}

.split > * {
    flex-basis: 100%;
}

.split > * + * {
    margin: var(--split-spacer, 2rem) 0 0 0;

    @media(min-width: 50em) {
        margin: 0 0 0 var(--split-spacer, 2rem);
    }
}

.spacer {
    margin-top: var(--spacer, 2rem);

    @media(min-width: 50em) {
        margin-top: var(--spacer, 4rem);
    }
}

.center {
    text-align: center;
}

.text-accent {
    color: var(--clr-accent);
}

.text-base {
    color: var(--clr-base);
}

.bold {
    font-weight: var(--fw-700);
}

.bg-dark {
    --fg: var(--clr-base);
    --bg: var(--clr-secondary);
    --accent: var(--clr-accent);
}

.hidden {
    display: none;
}