.anime {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 14rem));
  justify-content: center;
  gap: 2em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 2em;
  --spacer: 2rem;

  @media(min-width: 31.25em) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  @media(min-width: 50em) {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

.anime-card {
  position: relative;

  .heart {
    position: absolute;
    z-index: 2;
    top: 0.5em;
    right: 0.5em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 350ms ease-in;
  }

  &:hover .heart,
  &:focus .heart {
    visibility: visible;
    opacity: 1;
  }

  .heart path {
    transition: fill 350ms ease-in;
  }

  .heart:hover path,
  .heart:focus path {
    fill: var(--clr-secondary);
  }

  .image {
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .poster {
    transform: scale(105%);
    transition: transform 350ms ease-in;
  }

  &:hover .poster,
  &:focus .poster,
  .poster:hover,
  .poster:focus {
    transform: scale(100%);
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rating {
    display: flex;
  }

  .rating > * + * {
    margin-left: 0.25em;
  }

  .name {
    transition: color 350ms ease-in;
  }

  .name:hover,
  .name:focus {
    color: var(--clr-accent);
  }
}
