.companies {
  display: flex;

  > * + * {
    margin-left: 2em;
  }

  @media (min-width: 50em) {
    img {
      height: 40px;
      width: 40px;
    }

    & > * + * {
      margin-left: 4em;
    }
  }
}
