.primary-header {
  padding: 1rem 0;
  border-bottom: 1px solid var(--clr-grey-400);
  min-height: var(--header-height);
  background-color: var(--clr-base);
  width: 100%;
  z-index: 999;

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 23.125em) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .logo {
    padding: 0.5em 0;
    color: var(--clr-secondary);

    @media (min-width: 50em) {
      font-size: var(--fs-500);
    }
  }

  .nav-list {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .nav-list > * + * {
    margin-left: 1em;
  }
}

.secondary-header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--clr-grey-400);
  z-index: 999;

  // added this because i need the dropdown menu to translate y so it can be below the header but because the  header is the new stacking context nothing can be under it because of the z-index so i had to make a background color psuedo element for the dropdown to go under that but still above the header.
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--clr-base);
    z-index: -1; // needs to be below secondary header but above dropdown menu (nav)
  }

  .secondary-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  // side nav

  .side-nav {
    display: flex;
    align-items: center;
  }

  .side-nav > * + * {
    margin-left: 1em;
  }

  // --- search --- //
  .search {
    display: flex;
  }

  .search label {
    cursor: pointer;
  }

  .search input {
    position: absolute;
    z-index: -2;
    top: calc(100% + 2rem);
    left: 0;
    right: 0;
    padding: 0.5em 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--clr-secondary);
    color: var(--clr-secondary);
    font-weight: var(--fw-600);

    //  animation
    width: 80%;
    transform: translateY(0%);
    transition: all var(--animation-350);
  }

  .search ::placeholder {
    color: var(--clr-grey-600);
    font-weight: var(--fw-400);
  }

  .search .hidden {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-200%);
  }

  .nav-toggle {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .nav {
    position: absolute;
    max-width: 74.75rem;
    margin-right: auto;
    margin-left: auto;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    font-weight: var(--fw-700);
    color: var(--clr-secondary);
    background-color: var(--clr-accent);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    overflow: hidden;
    z-index: -2; // needs to be above overlay but below secondary header psuedo background

    // animation
    transform: translateY(0%);
    transition: transform var(--animation-450) 450ms; // dealy of .5s
  }

  // animation for nav

  .nav.hidden {
    transform: translateY(-100%);
  }

  .nav-list {
    margin: 0;
  }

  // nav item

  .nav-item {
    border-bottom: 1px solid currentColor;
  }

  .nav-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem; //added this so the anchor could have more padding to click on and aslo because it is positon absolute due to the secondary nav but i also had to put the padding on the dropdown menu so it is spaced the same.
    transition: color var(--animation-350);
  }

  .nav-item path {
    transition: fill var(--animation-350);
  }

  .nav-item span:hover path,
  .nav-item span:focus path {
    fill: var(--clr-primary);
  }

  // animation for the arrow
  .nav-item span {
    transition: transform var(--animation-450);
  }

  .nav-item span.rotate {
    transform: rotate(180deg);
  }

  .nav-item a:hover,
  .nav-item a:focus {
    color: var(--clr-primary);
  }

  // --- dropdown menu --- //

  .dropdown-menu {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));

    // had to add padding so it could align with the nav-item because everything is position: absolute to the secondary header.
    padding: 1rem 2rem;
    border-top: 1px solid var(--clr-secondary);
    background-color: var(--clr-base);

    // animation
    transition: max-height var(--animation-450), opacity var(--animation-450),
      padding-top var(--animation-450), padding-bottom var(--animation-450),
      overflow var(--animation-450), transform var(--animation-450);
  }

  .dropdown a {
    display: inline-block;
    padding: 0.25rem 0;
    transition: color var(--animation-350);
  }

  .dropdown a:hover,
  .dropdown a:focus {
    color: var(--clr-accent);
  }

  .dropdown-menu.hidden {
    // animation
    padding-bottom: 0;
    padding-top: 0;
    transform: translateY(-10%);
    overflow: hidden;
    opacity: 0;
    max-height: 0;
  }

  // added this so i can have a overlay under my nav but i had to make the top 100% because it this is realtive to the header but the made the height and width 100% of view port width and used z-index to position it below the nav that has a higher index so it can be placed above.
  .overlay {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    background-color: var(--clr-secondary);
    height: 100vh;
    width: 100vw;
    opacity: 0.7;
    z-index: -3; // needs to be below dropdown menu

    // animation
    transform: translateY(0%);
    transition: transform var(--animation-450);
  }

  .overlay.hidden {
    transform: translateY(-100%);
  }
}
