.primary-header {
  padding: 1rem 0;
  border-bottom: 1px solid var(--clr-grey-400);
  min-height: var(--header-height);

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 23.125em) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .logo {
    padding: 0.5em 0;
    color: var(--clr-secondary);

    @media (min-width: 50em) {
      font-size: var(--fs-500);
    }
  }

  .nav-list {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .nav-list > * + * {
    margin-left: 1em;
  }
}
