// Box sizing rules

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Set core root defaults

html:focus-within {
  scroll-behavior: smooth;
}

// Remove default margins

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

// Removes default style on list with classes

ul[class],
ol[class],
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

// A elements that don't have a class get default style

a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Makes image easier to work with

img {
  display: block;
  height: auto;
  max-width: 100%;
}

// Inherits fonts

input,
button,
textarea,
select {
  font: inherit;
}

// Set core body defaults

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  color: var(--clr-primary);
  background-color: var(--clr-base);
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
