section {
  color: var(--fg, var(--clr-primary));
  background-color: var(--bg, var(--clr-base));
  padding-top: var(--padding, 2rem);
  padding-bottom: var(--padding, 2rem);

  @media (min-width: 50em) {
    --padding: 4rem;
  }
}

.hero {
  --flow-space: 1.5rem;

  .hero-image {
    align-self: center;
  }

  @media (min-width: 50em) {
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;

    .split {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .info {
      flex-basis: 55%;
    }

    .hero-image {
      flex-basis: 40%;
    }

    .companies {
      order: 1;
      flex-basis: 100%;
      justify-content: center;
      padding: 2rem 0 0 0;
      margin: 0;
    }
  }
}

.devices {
  .image {
    margin-left: auto;
    margin-right: auto;
  }

  .companies {
    justify-content: center;
  }

  @media (min-width: 50em) {
    header {
      --flow-space: 2rem;
    }
  }
}

// info-page

.anime-info {
  --spacer: 2rem;

  .split {
    align-items: center;
  }

  .info {
    flex-basis: 60%;
  }

  .image {
    flex-basis: 40%;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-right: auto;
  }

  .synopsis {
    height: 15.5rem;
    overflow: auto;

    @supports (scrollbar-color: var(--clr-secondary) var(--clr-accent)) {
      scrollbar-color: var(--clr-secondary) var(--clr-accent);
    }

    @supports (scrollbar-width: thin) {
      scrollbar-width: thin;
    }
  }

  .synopsis::-webkit-scrollbar-track {
    background: var(--clr-accent);
    border-radius: var(--border-radius);
  }

  .synopsis::-webkit-scrollbar {
    width: 8px;
  }
}
